
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <title>Forget Password</title>

    <!-- Bootstrap -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet" />

    <link href="css/CustomStyle.css" rel="stylesheet" />
    <link href="css/TextBoxEffect.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css/LoginCss")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="LoginPageYellowBg">
        <div class="LoginPageLeft">
            <h1>Welcome to IVAP</h1>
            <div class="clear0"></div>
            <p>
                Input Validation and Aggregator Platform.
            </p>

            <div class="clear20"></div>
            <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">

                        <div class="delivery_truck_login">
                            <img src="images/loginPageIcon1.png" alt="" />
                        </div>
                        <div class="clear30"></div>
                        <h2> Input Submission </h2>

                    </div>

                    <div class="item">

                        <div class="delivery_truck_login">
                            <img src="images/loginPageIcon2.png" alt="" />
                        </div>
                        <div class="clear30"></div>
                        <h2> Input Validation </h2>

                    </div>

                    <div class="item">

                        <div class="delivery_truck_login">
                            <img src="images/loginPageIcon3.png" alt="" />
                        </div>
                        <div class="clear30"></div>
                        <h2> Reconciliation </h2>

                    </div>

                </div>


            </div>



            <div class="clear"></div>
        </div>
        <div id="dvForgotPassword" class="LoginPageRight">
            <div class="LoginIdeaLogo">
                <img src="~/Content/images/Mynd_logo.png" alt="">
            </div>

            <div class="LoginAdityaBirlaLogo mg-top7">
                <img src="~/Content/images/iVap_loginlogo.png" alt="">
            </div>
            <div class="clear20"></div>
            <h1>Forgot Password?</h1>
            <div class="clear"></div>
            <p>Enter your registered User Id to help us find your account</p>
            <div class="clear"></div>
            <div class="LoginFormMain">
                <div class="clear"></div>
                <div class="TextBoxMainMain">
                    <input type="text" name="name" id="txtUserName" class="question UserName effect-16" placeholder="" autocomplete="off" />
                    <label>Enter your User Name</label>
                    <span id="spnError" class="errormsg"></span>
                </div>
                <div class="clear10"></div>
                <div class="pull-left">
                    <a class="LoginForgotPassword" href="~/">Back to Log in</a>
                </div>
                <a class="LoginForgotPassword" href="#">Need Help ?</a>
            </div>
            <div class="clear30"></div>
            <button id="btnNext" type="button" class="btn btn-primary SignInBtn">Next</button>
        </div>

        <div id="dvMessage" class="LoginPageRight" style="display:none;">
            <div class="LoginIdeaLogo">
                <img src="Content/images/Mynd_logo.png" alt="">
            </div>
            <div class="LoginAdityaBirlaLogo">
                <img src="Content/images/iVap_loginlogo.png">
            </div>
            <div class="clear20"></div>

            <div class="pull-left">
                @*<img src="images/logout_lock.png" alt="">*@
            </div>
            <div class="clear20"></div>
            <h1>Forgot Password?</h1>
            <div class="clear"></div>
            <p id="pMsg"></p>
            <div class="clear"></div>
            <div class="clear50"></div>
            <div class="clear20"></div>
            <div class="msgbox">
                <a class="" href="~/">Back to Log in</a>
            </div>
            <img class="LoginPageRightCurveImg" src="Content/images/LoginPageRightCurveImg.png" alt="">
        </div>
        <div class="clear"></div>
    </div>
</body>
</html>
@Scripts.Render("~/Scripts/LoginScript")
<script>
    $(document).ready(function () {
        $("#btnNext").click(function () {
            var UserName = $.trim($("#txtUserName").val());
            if (UserName == "") {
                $("#spnError").html("Please enter user name.");
                $("#txtUserName").focus();
                return;
            }
            $("#spnError").html("");
            $.ajax({
                type: "GET",
                url: "@Url.RouteUrl("ForgetPassword")",
                contentType: "application/json; charset=utf-8",
                data: { UserName: UserName },
                success: function (response) {
                    $("#pMsg").html(response.Message);
                    $("#dvForgotPassword").hide();
                    $("#dvMessage").show();
                }
            });
        });
    });

</script>